<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.animationactivity">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/kidcode_final_logo_male"
        android:label="@string/app_name"
        android:roundIcon="@drawable/kidcode_final_logo_male"
        android:supportsRtl="true"
        android:theme="@style/Theme.AnimationActivity"
        tools:targetApi="31">
        <activity
            android:name=".Get_Certificate_Activity"
            android:exported="false" />
        <activity
            android:name=".PyCourse_lesson_five_Activity"
            android:exported="false" />
        <activity
            android:name=".PyCourse_lesson_four_Activity"
            android:exported="false" />
        <activity
            android:name=".PyCourse_lesson_three_Activity"
            android:exported="false" />
        <activity
            android:name=".PyCourse_lesson_two_Activity"
            android:exported="false" />
        <activity
            android:name=".PyCourse_lesson_one_Activity"
            android:exported="false" />
        <activity
            android:name=".C_Course_lesson_five_Activity"
            android:exported="false" />
        <activity
            android:name=".C_Course_lesson_four_Activity"
            android:exported="false" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".C_Course_lesson_three_Activity"
            android:exported="false" />
        <activity
            android:name=".C_Course_lesson_two_Activity"
            android:exported="false" />
        <activity
            android:name=".C_Course_lesson_one_Activity"
            android:exported="false" />
        <activity
            android:name=".JavaCourse_lesson_five_Activity"
            android:exported="false" />
        <activity
            android:name=".JavaCourse_lesson_four_Activity"
            android:exported="false" />
        <activity
            android:name=".JavaCourse_lesson_three_Activity"
            android:exported="false" />
        <activity
            android:name=".JavaCourse_lesson_two_Activity"
            android:exported="false" />
        <activity
            android:name=".JavaCourse_lesson_one_Activity"
            android:exported="false" />
        <activity
            android:name=".Profile_infoActivity"
            android:exported="false" />
        <activity
            android:name=".C_infoActivity"
            android:exported="false" />
        <activity
            android:name=".Java_infoActivity"
            android:exported="false" />
        <activity
            android:name=".Python_infoActivity"
            android:exported="false" />
        <activity
            android:name=".Introduction_infoActivity"
            android:exported="false" />
        <activity
            android:name=".settingsActivity"
            android:exported="false"
            android:parentActivityName=".HomecoursesActivity" />
        <activity
            android:name=".HelpActivity"
            android:exported="false" />
        <activity
            android:name=".HomecoursesActivity"
            android:exported="false" />
        <activity
            android:name=".JavaCourseActivity"
            android:exported="false" />
        <activity
            android:name=".C_CourseActivity"
            android:exported="false" />
        <activity
            android:name=".PythonCourseActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".CreateaccountActivity"
            android:exported="false" />
        <activity
            android:name=".StartActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>